@page
@model MISProject.Pages.PlayerCRUD1.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<head>
    <link rel="stylesheet" href="site.css" />
    <style>
        body {
            background-color: cornflowerblue;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        #main {
            background-color: white;
            border: solid 2px;
            display: flex;
            justify-content: space-around;
        }

        #Head {
            background-color: indianred;
            display: flex;
            justify-content: space-around;
        }
    </style>
</head>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.TID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.TID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Player.PID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
